<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Yearly Report PDF Template</title>
</head>
<body>
<h1>Yearly Report</h1>
<table>
    <thead>
    <tr>
        <th>Month</th>
        <th>Sale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report : ${yearlyReports}">
        <td th:text="${report.month}"></td>
        <td th:text="${report.sale}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>